.video-img{
  position: absolute;
}

.video-wrap{
  width: 100%;
  height: 560px;
  overflow: hidden;
}

.video{
  width: 100%;
  height: 560px;
  top: -250px;
}

.author{

  &-box{

    &-img{

    }

    &-wrap{

      &-year{
        font-size: 60px;
        font-weight: 300;
      }

      &-name{
        font-size: 36px;
        font-weight: 100;
      }

    }

  }

}

.author-img{
  margin-bottom: 17px;
}

.author-wrap:before{
  content: "";
  display: block;
  width: 83%;
  height: 1px;
  background: #333;
  margin: 0 auto;
}

.author-wrap-year{
  font-size: 60px;
  font-weight: 300;
  float: left;
  margin: 9px 0 0 162px;
}

.author-wrap-name{
  font-size: 36px;
  font-weight: 100;
  float: left;
  margin: 30px 0 38px 37px;
}