.detail{
  margin: 0 auto;
  width: 1580px;
  padding-top:56px;
  position:relative;

  @extend %clearfix;

  &:before{
    content: "";
    display: block;
    width:100%;
    height: 1px;
    background: #000;
    position:absolute;
    top:0;
  }

  &-content{
    float: left;
    width: 624px;
    height: 988px;

    &-title{
      font-size: 36px;
      margin-top: -2px;

      &-text{
        font-size: 18px;
        margin-top: 56px;
        line-height: 1.6;

      }

    }

  }

  &-wrap{
    font-size: 18px;
    margin-top: 127px;

    &-list{
      float: left;
      line-height: 1.4;

      &-subtitle{
        float: left;
        margin-right: 114px;
        width: 50px;
      }

      &-text{
        float: right;

      }

    }

  }

  &-img{
    float: right;

  }

}