/* ������ css */

//.main-title-box{
//  position: absolute;
//  width: 672px;
//  height: 840px;
//  border: 15px solid #fff;
//  margin: 120px auto 0 auto;
//}
.bg-video{
  z-index: 0;
}

.video{
  width: 1920px;
  height: 1080px;
}

.main-title{
  font-size: 130px;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.2;
  color: #fff;
  font-weight: 300;
  position: absolute;
}

.main-title:after{
  border: 15px;
}

.down-btn{
  margin: 48px 0 9px 0;

}

.contents-list{

  &:after{
    content: "";
    display: block;
    clear: both;
  }

  &-wrap{
    float: left;
    width:33.33%;
    box-sizing: border-box;
    overflow: hidden;
  }

}

.thumb{
  cursor: pointer;
  position: relative;
}

.thumb-image-wrap{
  overflow: hidden;
}

.thumb-image{
  width: 100%;
}

.thumb-text-wrap{
  width: 100%;
  height: 100%;

  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding-top: 436px;
  box-sizing: border-box;
}

.thumb-text-heading{
  font-size: 60px;
  text-align: center;
  top: 50%;
  margin: 0 auto;
}
