.open-page{
  position: relative;
}

.main-video{
  width: 100%;
  overflow: hidden;

  &-wrap{
    width: 100%;
    position: relative;
    display: block;
  }

}
.main-title{

  &-text{
    font-size: 130px;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.2;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 0;
    border: 15px solid #fff;
    padding: 234px 122px;
    left: 50%;
    margin: 120px 0 0 -374px;
  }

}


.main-title:after{
  border: 15px;
}

.down-btn{
  background: url("../images/image_sprite.png")no-repeat -115px -20px;
  position: absolute;
  bottom: 53px;
  width: 34px;
  height: 19px;
  text-indent: -99999px;
  left: 50%;
  margin-left: -17px;
}

.contents-list{

  &:after{
    content: "";
    display: block;
    clear: both;
  }

  &-wrap{
    float: left;
    width:33.33%;
    box-sizing: border-box;
    overflow: hidden;
  }

}

.thumb{
  cursor: pointer;
  position: relative;
}

.thumb-image-wrap{
  overflow: hidden;
  position: relative;
}

.thumb-image{
  width: 100%;
}

.contents-list-wrap .thumb-text-wrap:hover:before{
  display: block;
}

.contents-list-wrap .thumb-text-wrap:hover:after{
  display: block;
}

.thumb-text-wrap:before{
  content: "";
  display: none;

  width: 624px;
  height: 916px;
  background: #000;
  opacity: 0.8;

  position: absolute;
  top: 0;
  left: 0;
}

//.thumb-text-wrap{
//  width: 100%;
//  height: 100%;
//
//  background: #000;
//  opacity: 0.7;
//  position: absolute;
//  top: 0;
//  left: 0;
//  color: #fff;
//  padding-top: 436px;
//  box-sizing: border-box;
//}

.thumb-text-heading{
  position: absolute;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  top: 0;
  left: 0;
}

.mailing{
  width: 400px;
  height: 112px;
  text-align: center;
  margin: 40px auto;

  &-wrap{
    position: relative;

    &-img{


      &-title{
        font-size: 20px;
        top: 40px;
        left: 50%;
        transform: translateX(-39%);
        white-space: nowrap;
        float: right;

        &:before{
          content: "";
          display: block;

          margin: 2px 15px 0 0;
          background: url("../images/image_sprite.png") no-repeat -192px -20px;
          width: 29px;
          height: 15px;
          float: left;
        }
      }

      &-sub{
        font-size: 13px;
        padding-top: 38px;
      }

    }

  }

  &-work{

    position: relative;

    &-write{
      width: 253px;
      height: 20px;
      border: 1px solid #333;
      font-size: 13px;
      border-radius: 20px;
      margin: 23px 0 0 0;

      &-title{
        text-indent: -99999em;
        position: absolute;
      }

    }

    &-button{
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      background: #333;
      padding: 4px 10px;
      border-radius: 11px;
      border: 0;
      margin: -24px 58px;
      cursor: pointer;

      position: absolute;
    }
  }

}
