.open-page{
  position: relative;
}

.main-video{
  width: 100%;
  overflow: hidden;

  &-wrap{
    width: 100%;
    position: relative;
    display: block;
  }

}
.main-title{

  &-text{
    font-size: 130px;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.2;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 0;
    border: 15px solid #fff;
    padding: 234px 122px;
    left: 50%;
    margin: 120px 0 0 -374px;
  }

}


.main-title:after{
  border: 15px;
}

.down-btn{
  background: url("../images/image_sprite.png")no-repeat -115px -20px;
  position: absolute;
  bottom: 53px;
  width: 34px;
  height: 19px;
  text-indent: -99999px;
  left: 50%;
  margin-left: -17px;
}

.contents-list{

  &:after{
    content: "";
    display: block;
    clear: both;
  }

  &-wrap{
    float: left;
    width:33.33%;
    box-sizing: border-box;
    overflow: hidden;
  }

}

.thumb{
  cursor: pointer;
  position: relative;
}

.thumb-image-wrap{
  overflow: hidden;
}

.thumb-image{
  width: 100%;
}

.thumb-text-wrap{
  width: 100%;
  height: 100%;

  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding-top: 436px;
  box-sizing: border-box;
}

.thumb-text-heading{
  font-size: 60px;
  text-align: center;
  top: 50%;
  margin: 0 auto;
}

.mailing{
  text-align: center;
  margin-top: 41px;

  &-wrap{

    &-img{
      width: 29px;
      height: 15px;
      float: left;
    }

    &-title{
      font-size: 20px;
    }

    &-sub{
      font-size: 13px;
    }
  }

  &-work{

    &-write{

      &-button{
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        border: 1px solid #333;
        background: #333;
        width: 67px;
        height: 20px;
        padding: 0 9px;
        border-radius :20px;
      }

    }

  }

}
