.main-video{
  width: 100%;
  height: 1080px;
  overflow: hidden;

  &-wrap{
    width: 100%;
    position: relative;
  }

}
.main-title{

  &-text{
    font-size: 130px;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.2;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 0;
    border: 15px solid #fff;
    padding: 234px 122px;
  }

}


.main-title:after{
  border: 15px;
}

.down-btn{
  margin: 48px 0 9px 0;

}

.contents-list{

  &:after{
    content: "";
    display: block;
    clear: both;
  }

  &-wrap{
    float: left;
    width:33.33%;
    box-sizing: border-box;
    overflow: hidden;
  }

}

.thumb{
  cursor: pointer;
  position: relative;
}

.thumb-image-wrap{
  overflow: hidden;
}

.thumb-image{
  width: 100%;
}

.thumb-text-wrap{
  width: 100%;
  height: 100%;

  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding-top: 436px;
  box-sizing: border-box;
}

.thumb-text-heading{
  font-size: 60px;
  text-align: center;
  top: 50%;
  margin: 0 auto;
}

.mailing{
  text-align: center;
  margin-top: 41px;

  &-wrap{

    &-img{
      background: url("../images/image_sprite.png") no-repeat;
      width: 29px;
      height: 15px;
      margin: 0;
    }

    &-title{
      font-size: 20px;

      &-sub{
        font-size: 13px;

      }

    }

    &-work{

      &-write{

        &-button{
          font-size: 13px;
          font-weight: 700;
        }

      }

    }

  }

}
