.author{

  &-box{

    &-img{

    }

    &-wrap{

      &-year{
        font-size: 60px;
        font-weight: 300;
      }

      &-name{
        font-size: 36px;
        font-weight: 100;
      }

    }

  }

}