.top-explanation{

  &-wrap{
    cursor: default;

    &-title:before{
      content: "";
      display: block;
      height: 1px;
      background: #000;
      margin: 20px auto;
    }

    &-title{
      font-size: 60px;
      font-weight: 100;
      text-align: center;
    }

    &-text{
      margin:55px 162px;
      line-height: 1.4;
    }

  }

}

.critique-explanation{
  cursor: default;

  &-title{
    border: 1px solid #333;
    background: #333;
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin: 53px 162px 76px;
  }

  &-img{
    width: 100%;
  }

  &-text{
    margin: 55px 162px 0;
    line-height: 1.4;
  }

}
