.video-img{
    position: absolute;
}

.video-wrap{
    width: 100%;
    height: 560px;
    overflow: hidden;
}

.video{
    width: 100%;
    height: 560px;
    top: -250px;
}

.position{
    position: relative;
    width: 948px;
    height: 1100px;
    float: left;

    &-img{

    }

    &-box{
        border: 15px solid #fff;
        width: 672px;
        height: 840px;
        margin: 0 auto;
        position: relative;
        top: -983px;

        &-title{
            top: 0;
            color: #fff;
            font-size: 63px;
            position: absolute;
            margin-top: 365px;
            text-align: center;
            width: 672px;
        }

    }


}

.exhibit{
    width: 948px;
    float: left;
    margin-left: 7px;

    &-wrap{
        float: right;

        &-img{

        }

        &-list{
            font-size: 18px;
            font-weight: 400;
            color: #000;

            @extend %clearfix;

            &-title{
                float: left;
                margin: 0 auto 18px 200px;

            }


            &-subtitle{
                float: right;
                margin: 0 200px 18px auto;
            }
        }

        &-list:before{
            content: "";
            display: block;
            width: 672px;
            height: 1px;
            background: #000;
            margin: 20px auto;
        }
    }
}