.header{
  position: fixed;
  z-index: 99;
  right: 48px;

  width: 114px;
  height: 747px;
}

#btn {
  position: absolute;
  top: 50px;
  left: 99px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  outline: none;

  width: 24px;
  height: 20px;
  background: none;
}

#btn span {
  position: absolute;
  width: 30px;
  height: 4px;
  top: 50%;
  left: 50%;
  background: #000;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s linear;
}

#btn span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: #000;
  transition: all 0.3s linear;
}

#btn span:nth-child(1) {
  animation: span-first-off 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction:  normal;
}

#btn span:nth-child(2) {
  animation: span-second-off 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction:  normal;
}

#btn span:nth-child(3) {
  animation: span-third-off 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction:  normal;
}

#btn.on span::before {
  width: 100%;
}

#btn.on span:nth-child(1) {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

#btn.on span:nth-child(2) {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

#btn.on span:nth-child(3) {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%);
  }
  30% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -300%);
  }
}

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-150%, -50%) scale(0);
  }
}

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%);
  }
  30% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 200%);
  }
}

.gnb{
  width: 114px;
  height: 100%;

  top: 0;
  right: 61px;

  display: none;

  &.on{
    display: block;
  }

  &-link{

    &-heading{
      background: url("../images/artwork_logo.png");
      width: 114px;
      height: 76px;
      margin-bottom: 36px;
      margin-top: 92px;
      text-indent:-99999px;
    }
  }

  &-list{

    &-item{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 65px;
      text-align: center;
    }

    &-link{
      color: #000;
      padding: 0 15px;
      display: block;
    }

    &-link2{
      color: #000;
      padding: 0 15px;
      display: block;

      &:hover{

        &:after{
          width: 62px;
        }
      }

      &:after{
        content: "";
        display: block;
        clear: both;
        width: 0;
        height: 1px;
        background: #000;
        margin: -7px auto 0;
        transition: width .3s ease-out;
      }
    }

    &-link3{
      color: #000;
      padding: 0 15px;
      display: block;

      &:hover{

        &:after{
          width: 38px;
        }
      }

      &:after{
        content: "";
        display: block;
        clear: both;
        width: 0;
        height: 1px;
        background: #000;
        margin: -7px auto 0;
        transition: width .3s ease-out;
      }
    }

    &-link4{
      color: #000;
      padding: 0 15px;
      display: block;

      &:hover{

        &:after{
          width: 50px;
        }
      }

      &:after{
        content: "";
        display: block;
        clear: both;
        width: 0;
        height: 1px;
        background: #000;
        margin: -7px auto 0;
        transition: width .3s ease-out;
      }
    }


    &-wrap{

      &-item{
        font-size: 13px;
        margin-top: 25px;

      }
    }
  }
}
