.header{
  position: fixed;
  z-index: 99;
  right: 48px;
}

.btn-menu-close{
  width: 20px;
  height: 20px;
  background: url("../images/btn_close_menu.png") no-repeat;
  border: 0;
  text-indent: -99999px;

  position: absolute;
  top: 36px;
  right: 0;
  cursor: pointer;
}

.btn-menu-toggle{
  float: right;
  width: 20px;
  height: 20px;
  background: url("../images/btn_show_menu.png") no-repeat;
  text-indent: -99999px;
  border: 0;
}

.gnb{
  width: 114px;
  height: 100%;

  top: 0;
  right: 61px;
}

.gnb-heading{
  background: url("../images/artwork_icon.gif");
  width: 114px;
  height: 76px;
  margin-bottom: 36px;
  margin-top: 92px;
  text-indent:-99999px;
}

.gnb-item{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 65px;
  text-align: center;
}

.gnb-link{
  color: #000;
}

.gnb-link-item{
  font-size: 13px;
  margin-top: 16px;
}