@charset "UTF-8";

@import "reset";

@import "gnb";

@import "footer";

@import "artwork_main.scss";

@import "artwork_currentexhibitions.scss";

@import "artwork_exhibit_detail_page.scss";

@import "artwork_author.scss";

@import "artwork_artjob_detail_page";