.inner-box{
    width:1280px;
    margin:0 auto;
}

/* 공통(common) css */
.heading-section{
    font-size:45px;
    font-weight: 400;
}

.yellow-name{
    font-size: 15px;
    font-weight: 700;
    color: #d3b000;
}

.dark-name{
    font-size: 44px;
    font-weight: 600;
    color: #021725;
}

/*영역별 CSS*/
.in-main-img{

}

.in-top-text{
    font-size: 80px;
    color: #fff;
    font-weight: 300;
    position: absolute;
    margin: -403px 0 0 122px;
    letter-spacing: 3px
}

.small-name1{
    margin-top: 81px;
    text-align: center;
}

.in-title1{
    margin-top: 23px;
    text-align: center;
}

.in-button1{
    margin: 49px auto 0;

    width:238px;
    height:57px;
    box-sizing:border-box;
    display:block;
    line-height:23px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000;
    background: #fff;
}

.small-name2{
    margin-top: 163px;
    text-align: center;
    display: block;
}

.in-title2{
    margin-top: 22px;
    text-align: center;
}

.in-detail-wrap{
    margin-top: 78px;
}

.in-detail-image-list{
    margin-top: 3px;
    width: 317px;
    height: 300px;
    float: left;
    margin-right: 4px;
}

.in-detail-image-list:nth-child(4),
.in-detail-image-list:nth-child(8){
    margin-right: 0;
}

.in-detail-image-list:nth-child(5),
.in-detail-image-list:nth-child(6),
.in-detail-image-list:nth-child(7),
.in-detail-image-list:nth-child(8){
    margin-bottom: 162px;
}

.in-detail-image-item{
}

.in-detail-text1{
    text-align: center;
    font-size: 18px;
    line-height:1.4;
    margin: 53px 0 50px 0;
}

.people-wrap{
    margin: 0 265px 0 265px;
}

.people-list{
}

.people-list-img{
    width: 246px;
    height: 192px;
    float: left;
}

.people-text-wrap{
    width: 246px;
    height: 231px;
    background: #ddd;
    float: left;
}

.people-position{
    color: #d4af37;
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0 20px 17px;
}

.people-name{
    font-size: 21px;
    color: #021725;
    font-weight: 700;
    margin: 0 0 32px 17px;
}

.people-item{
    font-size: 13px;
    margin-left: 17px;
    line-height:1.4;
}