.inner-box{
    width:1280px;
    margin:0 auto;
}

.inner-box:after{
    content:"";
    display:block;
    clear:both;
}

.header{
    position: relative;
}

.header-wrap{
    position: relative;
}

.logo{
    position: absolute;
}

.logo-link{
    display:block;
    background:url("../images/cd-logo.png") no-repeat;
    text-indent:-99999px;
    width:190px;
    height:42px;
    margin: 16px 0 0 48px;
}

.gnb-wrap{
    position: absolute;
    right:0;
}

.menu-list{

}

.menu-wrap{
    float: left;
    margin: 31px 4px 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.btn-menu-toggle{
    width:18px;
    height:23px;
    text-indent:-99999px;
    border:0;
    float: right;
    color: #fff;

}

.gnb{
    height:100%;

    top:0;
    right:-340px;
}

.gnb-list{
    float: right;
}

.gnb-item{
    margin-bottom:19px;
    margin-top: 19px;

}

.gnb-link{
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 48px;
}

/* 공통(common) css */
.heading-section{
    font-size:45px;
    font-weight: 400;
}

/*영역별 CSS*/

.section1{

}
.main-image{

}

.ab-btn-down{
    width:31px;
    height:31px;
    background:url("../images/img%20arrow-down.png") no-repeat;
    border:0;
    text-indent:-99999px;
    cursor: pointer;
    position: absolute;
    top: 607px;
    /*가로, 세로에 지정할 수 없을 때는 중앙으로 이동*/
    left: 50%;
}

.ab-detail-text1{
    margin: 166px 0 155px 0;
    text-align: center;
    line-height:1.4;
}

.ab-detail-image{
    float: left;
    margin-right: 42px;
}

.services1{
    background: #f9f9f9;
    height: 450px;
}

.services:after{
    position: relative;
}

.services{
    color: #505d68;
    font-weight: 700;
    margin-bottom: 91px;
}

.ab-detail-text2{
    color: #505d68;
    line-height:1.6;
    float: left;
}

.ab-detail-text3{
    color: #505d68;
    line-height:1.6;
    float: right;
    margin: 32px 73px 0 0;
}

/* 푸터 영역 */

.footer{
    background: #eeeeee;
    padding: 40px 0;
}

.footer-coppyright{
    color: #505d68;
    font-size: 16px;
    float: left;
    margin-left: 267px;
}

.footer-email {
    font-size: 16px;
    color: #505d68;
    float: right;
    margin-right: 267px;
}



