.inner-box{
    width:1280px;
    margin:0 auto;
}
/* 공통(common) css */
.heading-section{
    font-size:45px;
    font-weight: 400;
}

.yellow-name{
    font-size: 15px;
    font-weight: 700;
    color: #d3b000;
}

.dark-name{
    font-size: 44px;
    font-weight: 600;
    color: #021725;
}

/*영역별 CSS*/

.in-top-text{
    font-size: 80px;
    color: #fff;
    padding-top: 306px;
    text-align: center;
    position: absolute;
}
