.inner-box{
    width:1280px;
    margin:0 auto;
}
/* 공통(common) css */
.heading-section{
    font-size:45px;
    font-weight: 400;
}

.yellow-name{
    font-size: 15px;
    font-weight: 700;
    color: #d3b000;
}

.dark-name{
    font-size: 44px;
    font-weight: 600;
    color: #021725;
}

/*영역별 CSS*/

.pr-image{

}

.ab-btn-down2{
    width:31px;
    height:31px;
    background:url("../images/img%20arrow-down.png") no-repeat;
    border:0;
    text-indent:-99999px;
    cursor: pointer;
    position: absolute;
    top: 613px;
    /*가로, 세로에 지정할 수 없을 때는 중앙으로 이동*/
    left: 50%;
}

.project-wrap{
    position: absolute;
    background: #f9f9f9;
    margin: 48px 64px 0;
    width: 1151px;
}

.project1{
    float: left;
}

.pr-name{
    font-size:45px;
    font-weight: 700;
    color: #000;
    margin-left: 67px;
    margin-top: 86px;
}

.pr-detail-text1{
    margin: 126px 0 101px 67px;
    font-family: 'Cardo', sans-serif;
    font-size: 20px;
    line-height:1.4;
    font-weight: 700;
}

.pr-list1{
    margin-left: 64px;
    float: left;
}

.pr-list-img1{
    margin-bottom: 19px;
}

.pr-list-img1:last-child{
    margin-bottom: 46px;
}

.project2{
    margin: 64px 69px 0 0;
}


.pr-list2{
    float: right;
}

.btn-wrap{
    margin: 104px 135px 73px 133px;
    position: absolute;
}

.btn-wrap-list{

}

.btn-wrap-item{
    float: left;
    margin: 0 67px;
}

.btn-wrap-link{
    width: 249px;
    height: 58px;
    background: #fff;
    font-size: 15px;
    color: #c0c0c0;
    border: 1px solid #a1a1a1;
}


