.inner-box{
    width:1280px;
    margin:0 auto;
}

.inner-box:after{
    content:"";
    display:block;
    clear:both;
}

.header{
    position: relative;
}

.header-wrap{
    position: relative;
    margin-right: 48px;
}

.logo{
    position: absolute;
}

.logo-link{
    display:block;
    background:url("../images/cd-logo.png") no-repeat;
    text-indent:-99999px;
    width:190px;
    height:42px;
    margin: 16px 0 0 48px;
}

.gnb-wrap{
    position: absolute;
    right:0;
}

.menu-list{

}

.menu-wrap{
    float: left;
    margin: 31px 19px 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/* hamburger button */
.hamburger{
    position: absolute;
    margin: 36px 0 0 48px;
}
.hamburger-button {
    position: absolute;
    text-indent:-99999px;
    width: 18px;
    height: 12px;
}

.hamburger-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.hamburger-btn-line {
    position: absolute;
    width: 18px;
    height: 2px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 4px;
}

.hamburger-btn-line:before {
    content: "";
    position: absolute;
}

.hamburger-btn-line:nth-child(1) {
    animation: span-first-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.hamburger-btn-line:nth-child(2) {
    animation: span-second-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.hamburger-btn-line:nth-child(3) {
    animation: span-third-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes span-first-on {
    0% {
        transform: translate(-50%, -300%);
    }
    30% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes span-first-off {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -300%);
    }
}

@keyframes span-second-on {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-150%, -50%) scale(0);
    }
}

@keyframes span-second-off {
    0% {
        transform: translate(-150%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes span-third-on {
    0% {
        transform: translate(-50%, 200%);
    }
    30% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes span-third-off {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, 200%);
    }
}
/* gnb 영역 */

.gnb{
    height:100%;

    top:0;
    right:-340px;
}

.gnb-list{
    float: right;
}

.gnb-item{
    margin-bottom:19px;
    margin-top: 19px;
    text-align: right;
    width: 64px;
}

.gnb-link{
    color:#fff;
    font-size: 16px;
    font-weight: 600;
}

/* 공통(common) css */
.heading-section{
    font-size:45px;
    font-weight: 400;
}

/*영역별 CSS*/

.section1{

}
.main-image{

}

.ab-btn-down{
    width:31px;
    height:31px;
    background:url("../images/img%20arrow-down.png") no-repeat;
    border:0;
    text-indent:-99999px;
    cursor: pointer;
    position: absolute;
    top: 607px;
    /*가로, 세로에 지정할 수 없을 때는 중앙으로 이동*/
    left: 50%;
}

.ab-detail-text1{
    margin: 166px 0 155px 0;
    text-align: center;
    line-height:1.4;
}

.ab-detail-image{
    float: left;
    margin-right: 42px;
}

.services1{
    background: #f9f9f9;
    height: 450px;
}

.services:after{
    position: relative;
}

.services{
    color: #505d68;
    font-weight: 700;
    margin-bottom: 91px;
    padding-top: 47px;
}

.ab-detail-text2{
    color: #505d68;
    line-height:1.6;
    float: left;
}

.ab-detail-text3{
    color: #505d68;
    line-height:1.6;
    float: right;
    margin: 32px 73px 0 0;
}

/* 푸터 영역 */

.footer{
    background: #eeeeee;
    padding: 40px 0;
}

.footer-coppyright{
    color: #505d68;
    font-size: 16px;
    float: left;
    margin-left: 267px;
}

.footer-email {
    font-size: 16px;
    color: #505d68;
    float: right;
    margin-right: 267px;
}



