.inner-box{
  width: 1920px;
  margin: 0 auto;
}

.inner-box:after{
  content: "";
  display: block;
  clear: both;
}

/*헤더 영역*/

.btn-menu-close{
  width: 20px;
  height: 20px;
  background: url("../images/btn_close_menu.png") no-repeat;
  border: 0;
  text-indent: -99999px;

  position: absolute;
  top: 36px;
  right: 60px;
  cursor: pointer;
}

.btn-menu-toggle{
float: right;
width: 20px;
height: 20px;
background: url("../images/btn_show_menu.png") no-repeat;
text-indent: -99999px;
border: 0;
margin-top: 36px;
}

.gnb{
  width: 114px;
  height: 100%;

  top: 0;
  right: -340px;
}

.gnb-heading{
  background: url("../images/artwork_icon.png");
  width: 114px;
  height: 76px;
  margin-bottom: 36px;
  margin-top: 36px;
}

.gnb-item{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 65px;
  text-align: center;
}

.gnb-link{
  color: #000;
}

.gnb-link-item{
  font-size: 13px;
  margin-top: 16px;
}

/* 영역별 css */

.main-title-box{
  width: 672px;
  height: 840px;
  border: 15px solid #ffc0cb;
}

.main-title{
  font-size: 130px;
  font-family: 'Spectral', serif;
  line-height: 1.2;
  color: #ffc0cb;
}

/* 푸터 영역 */

.footer-coppyright{
  margin-top: 57px;
  text-align: center;
  font-size: 10px;
}


